html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #0F182E;
  min-height: 100vh;
}

/*HEADER IMAGE - HEADER MENU - LOGIN */

.header {
  display: flex;
  height: 100px;
  text-align: center;
  color: #fff;
}

.header-left {
  display: flex;
  margin-left: 50px;
  padding: 1rem;
  width: 45%;
}


.header-right {
  display: flex;
  width: 55%;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.menu{
  display: flex;
  width: 75%;
  align-items: flex-start;
  height: 100px; /* BUSCAR FORMA DE QUE OCUPE EL MISMO ALTO QUE EL PADRE SIN DEFINIR LA ALTURA*/
}

.menu li {
  display: inline-block;
  padding: 1.9rem;
  font-size: 18px;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.menu li:hover {
  border-bottom: 1px solid #fff;
}

.login {
  display: flex;
  width: 25%;
  margin-block-start: 1rem;
  align-items: center;
}

.login-button {
  padding: 1rem 2rem;
  font-size: 18px;
  background-color: rgb(255, 196, 0);
  color: #0F182E;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

/* END HEADER */

/* SUB MENU - SEARCH MOVIE FORM */

.content-search {
  display: flex;
  color: #fff;
}

.search-left {
  width: 50%;
}

.search-right {
  display: flex;
  width: 50%;
}

.submenu {
  display: flex;
  width: 65%;
  align-items: flex-start;
}

.submenu li {
  display: inline-block;
  padding: 1.9rem;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

.form-search {
  width: 35%;
}

.search-movie {
  margin-block-start: 1.5rem;
  border: 1px solid #fff;
  padding: 1rem;
  width: 240px;
}

.search-input {
  background: #0F182E;
  opacity: 1;
  border: 0;
}

.search-movie button {
  background-color: #0F182E;
  color: rgb(65, 65, 65);
}

.content-movies {
  height: 60vh;
  text-align: center;
  color: #fff;
}

.footer {
  flex: 1;
  text-align: center;
  color: #fff;
}
