* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #080f21;
  max-width: 1900px;
  width: 100%;
  font-family: "Roboto", "Roboto Bold";
  &::-webkit-scrollbar {
    width: 8px;
  }


  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(255, 196, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background:rgb(255, 196, 0);
  }
  min-width: 500px;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
  font-display: fallback;
}


@font-face {
  font-family: "Roboto Bold";
  src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.ttf) format('truetype');
  font-display: fallback;
}