@use "../../../styles/utils.scss";
@use "../../../styles/mixins.scss" as *;

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid rgb(65, 65, 65);
  @include responsive {
    flex-wrap: wrap;
  }
  &__option {
    display: flex;
    font-size: 18px;
    color: #fff;
    height: 100%;
    text-align: center;
    align-items: center;
    cursor: pointer;
    list-style: none;
    height: 100px;
    &__button {
      @extend %button;
      &__login {
        @extend %button;
        background-color: rgb(255, 196, 0);
        color: #0f182e;
      }
      &--active,
      --hover:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}
