.movie {
  padding: 0rem 1rem;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rating {
  display: flex;
  justify-content: space-around;

}

.rating > b {
  text-align: center;
  font-size: 12px;
} 

.rating > span:hover:before {
  display: flex;
  align-items: center;
  content: "\2605";
  position: absolute;
}

.rating_point {
  margin: 0.3rem 0.1rem;
  font-size: 12px;
}

.movie > p {
  text-align: center;
  font-size: 12px;
  margin: 0.2rem 0rem;
  height: 25px;
}

.movie_img {
  width: 120px;
  height: 180px;
  cursor: pointer;
}