.best {
  flex: 1.2;
  display: flex;
  &__top {
    display: flex;
    flex-direction: column;
    &__list {
      display: flex;
      padding: 1.5rem 1rem;
      justify-content: space-between;
      &__title {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;
      }
    }
  }
}

