
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.border {
  border-top: 1px solid #fff;
  width: 15%;
  margin-top: 1rem;
}

.footer_submenu {
  margin: 1rem 0rem;
}

.footer_submenu_items {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  width: 100%;

}

.footer_submenu li {
  display: inline-block;
  margin: 1rem 1.5rem;
  font-size: 15px;
  color: #fff;
}

.submenu_social {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.submenu_social > a{
  color: #fff;
  padding: 0rem 1rem;
}