.content_details {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.content_image_details {
  position: relative;
}

.img {
  width: 100%;
  opacity: 0.2;
  filter: blur(8px);
  position: absolute;
  top: 0px;
  left: 0px;
}

.movie_content_details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0rem;
}

.img_background {
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  z-index: 1;
  margin: 1rem 0rem;
}

.img_front {
  width: 70%;
}

.img_details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 1;
  animation: fadeImage 2s forwards;
  -webkit-animation: fadeImage 2s forwards;
  -o-animation: fadeImage 2s forwards;
  -moz-animation: fadeImage 2s forwards;
}


.wrapper_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  z-index: 1;
}

.star_rating {
  display: flex;
  font-size: 14px;
  color: rgb(255, 196, 0);
}

.title_details {
  font-size: 40px;
  font-weight: 900;
}

.info_details {
  margin: 0rem 1rem;
}

.content_movie_details {
  flex: 6;
  width: 100%;
  align-items: center;
  display: flex;
  color: #fff;
  flex-direction: column;
}

.movie_details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  letter-spacing: 1px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.details > p {
  margin: 1rem 0rem;
}

.content_description {
  font-size: 18px;
  font-family: "Roboto";
  margin: 1rem 0rem;
}

@keyframes fadeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .img_background {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper_details {
    width: 100%;
    margin-top: 1rem;
  }
  .title_details {
    font-size: 20px;
  }
  .content_details {
    font-size: 12px;
  }
  .content_description {
    font-size: 14px;
  }
}