.content_details {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.content_image_details {
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  filter: blur(8px);
}

.movie_content_details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0rem;
}

.img_background {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 0px;
  text-align: center;
  color: #fff;
  display: flex;
  z-index: 1;
}
.img_front {
  width: 70%;
}

.img_details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.wrapper_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.star_rating {
  display: flex;
  font-size: 14px;
  color: rgb(255, 196, 0);
}

.title_details {
  font-size: 40px;
  font-weight: 900;
}

.info_details {
  margin: 0rem 1rem;
}

.content_movie_details {
  flex: 6;
  width: 100%;
  align-items: center;
  display: flex;
  color: #fff;
  flex-direction: column;
}

.movie_details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  letter-spacing: 1px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.details > p {
  margin: 1rem 0rem;
}
